
table {

width: 400px; height: 400px;
}

tr {
 text-align: center;
}
td#first { 
    color: rgb(233, 118, 72);
    background-color:rgb(146, 202, 146);
}
td#second { 
    color: rgb(62, 126, 26);
    background-color:rgb(146, 202, 146);
}

td#third {
    color: rgb(190, 129, 192);
    background-color:rgb(146, 202, 146);
}

div#table {
    background-color:rgb(146, 202, 146);
}
table,td {
    border: 2px solid #000;
}
h1#text{ color: red;

}

div#header{
    color: green;
}

div.b{
border: 1px solid green;

}
div.description{
    color: red;

}
div#table {
background-color: red;

}